@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
$base-dark: #14242E;
$base-color: #1A2F3D;
$base-light: #95BFD8;
$base-gold: #FFD700;

html {
    
   
}

.big-container {
    background-color: rgba(#1A2F3D, 0.8);
    width: 100%;
    min-height: 100%;
}

body {
    margin: 0px;
    overflow-x: hidden;
    background-image: url("../public/background.gif") ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
    z-index: -99;
    font-family: 'Roboto', sans-serif;
}

html, body {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }

